*{
    margin:0;
    padding:0;
}


.container{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: orange;
    color:white;
    width:400px;
    height:300px;
}

span{
    margin:10px;
}

